$pink: #ea5dbb;
$blue: #5068a5;

$large: 1920px;
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;

$default-border-radius: 4px;
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
