body {
	color: #000;
	font-family: Lato, sans-serif;
	background-color: #f4f5f8;
	font-size: 14px;

	@include mobile {
		-webkit-text-size-adjust: 100%;
	}
}

a {
	color: $blue;
}

button {
	cursor: pointer;
	transition: color $default-transition-duration, border-color $default-transition-duration,
		background-color $default-transition-duration;
}

p:last-child {
	margin-bottom: 0;
}
